footer {
  background-color: #222222;
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
}
footer .wrap {
}
footer .wrap h1 {

}

footer .wrap .flex ul.pnb {
  width: 64%;
  display: flex;
}
footer .wrap ul.pnb li {
  
}
footer .wrap ul.pnb li a,footer .wrap div ul.fnb li a {
  color: #fff;
  display: block;
  font-weight: bold;
}
footer .wrap ul.pnb li:first-child a{
  padding-right: 15px;
}
footer .wrap ul.pnb li:not(:first-child) a{
  padding: 0 15px;
}
footer .wrap .flex{
  align-items: center;
}
footer .wrap .flex ul.fnb{

  display: initial;
  display: flex;
}
footer .wrap div ul.fnb li{
  
}
footer .wrap div ul.fnb li a{
  padding: 0 15px;
}
footer .wrap .flex select{

  height: 30px;
  background-color: #555;
  width: 10%;
  color: #fff;
}
footer .wrap div select option{

}
footer .wrap .bottom a.blog {
  position: absolute;
  right: calc((100% - 1514px) / 2);
  top: 105px;
  font-size: 0;
  width: 41px;
  height: 41px;
  background-image: url(../img/blog_btn.png);
}
footer .wrap .bottom address {
  color: #777;
}
footer .wrap .bottom address::before{
content: "";  
display: block;
border-top: 1px solid #777;
margin-bottom: 25px;

margin-top: 25px;
width: 100%;
}
footer .wrap  p {

  color: #777;
}
footer .wrap .bottom{
  
}