footer {
  background-color: #222222;
  padding: 50px 0;
  position: relative;
}
footer .wrap {
  display: flex;
  flex-wrap: wrap;
}
footer .wrap h1 {

}

footer .wrap ul.pnb {
  width: 60%;
}
footer .wrap ul.pnb li {
  
}
footer .wrap ul.pnb li a,footer .wrap div ul.fnb li a {
  color: #fff;
  display: block;
  font-weight: bold;
}
footer .wrap ul.pnb li:first-child a{
  padding-right: 15px;
}
footer .wrap ul.pnb li:not(:first-child) a{
  padding: 0 15px;
}
footer .wrap div{
  width: 40%;
  justify-content: end;
  align-items: center;
}
footer .wrap div ul.fnb{

}
footer .wrap div ul.fnb li{
  
}
footer .wrap div ul.fnb li a{
  padding: 0 15px;
}
footer .wrap div select{

  height: 30px;
}
footer .wrap div select option{

}
footer .wrap a.blog {
  position: absolute;
  right: calc((100% - 1520px) / 2);
  top: 75px;
  font-size: 0;
  width: 41px;
  height: 41px;
  background-image: url(../img/blog_btn.png);
}
footer .wrap address {
  color: #ccc;
}
footer .wrap address::before{
content: "";  
display: block;
border-top: 1px solid #ccc;
margin-bottom: 25px;

left: 0;
}
footer .wrap  p {

  color: #ccc;
}
